.all-login-page {
    padding-left: 35vw;
    padding-right: 35vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-top: 2px solid #efefeb;
}
.login-container {
    background-color: white;
     box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
}
.input-login-block {
    display: block;
}
.input-login-div {
    display: block;
}
.input-login-div label {
    display: block;
}
.login-container button {
    display: block;
    background: #315efb;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
    text-align: center;
    margin-bottom: 2vh;
}
.input-login-block input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 2vh;
}
.input-login-block input:focus{
    text-decoration: none;
    outline-width: 0;
    border: 0.5px solid #313131;
    border-bottom: 4px solid #315efb;
    
}
.error-label {
    color: red;
    font-size: 10px;
}
.bottom-block {
    border-top: 2px solid #efefeb;
    padding: 10px;
    text-align: center;
}
.bottom-block a {
    text-decoration: none;
    color: #313131;
}
.bottom-block a:hover {
    text-decoration: underline;
}